body{
    font-family: 'Montserrat',sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    
}
.container-fluid{
    padding: 3% 15% 7%;

}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
h3{
    font-family: "montserrat-black";
}
h2{
    font-family: "montserrat-black";
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: gray;
}
.navbar{
    padding: 0 0 3rem;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "montserrat";
    font-weight: montserrat-light;
}
.top-download-button{
    margin: 5% 3% 5% 0;
}
.dog-img{
    transform: rotate(45%);
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    left: 30%;
}
/* feature section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
    line-height: 2;
}

.icon{
    color: rgb(230, 112, 69);
    margin-bottom: 1rem;
}
i:hover{
    color: #ff4c68;
}

/* testimonial section */
#testimonials{
    
    text-align: center;
    background-color: rgb(230, 112, 69);
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 2%;
}

#press{
    background-color: rgb(230, 112, 69);
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 30px 30px 50px;
}

/* Pricing */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/* CTA section */
#cta{
    background-color: #ff4c68;
    font-family: "montserrat-black";
    text-align: center;
    line-height: 2;
    color: #fff;
    padding: 7% 15%;
}
.bottom-text{
    font-size: 40px;
    margin-bottom: 30px;
}
/* footer section */
#footer{
    text-align: center;
    padding: 50px;
}
.bottom-download-button{
    margin: 5% 3% 5% 0;
}
.footer-link{
    padding: 10px;
}
.copyright{
    font-size: 10px;
    margin-top: 20px;
}

/* media queries */
@media(max-width: 1024px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
}
